@import "./font";

$main-gradient: linear-gradient(0deg, #f05754 0%, #f4864d 49.5%, #fbc945 100%);
$radial-gradient: radial-gradient(ellipse at 50% 150%, #613b33, #1a1a1a);
$content-width: 1200px;

* {
  box-sizing: border-box;
  font-family: "Rubik";
  text-decoration: none;
}

html,
body {
  margin: 0;
  background: #e2e2e2;
}
.row {
  display: flex;
  align-items: center;
}
.col {
  @extend .row;
  flex-direction: column;
  align-items: stretch;
}
.j-center {
  justify-content: center;
}
.hide {
  display: none;
}

input,
select,
textarea {
  padding: 10px;
  border: solid #c4c4c4 1px;
  border-radius: 5px;
  background-color: #f8f8f8;
  color: #5f5f5f;
}

.button {
  @extend .row;
  font-size: 14px;
  border-radius: 0.5em;
  padding: 0.5em 1em;
  color: white;
  gap: 0.3em;
  font-weight: 500;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  img {
    width: 2em;
  }
  &::after {
    content: "";
    position: absolute;
    height: 300%;
    top: -100%;
    left: 0;
    width: 40%;
    background: linear-gradient(
      to right,
      transparent,
      rgba(255, 255, 255, 0.5),
      transparent
    );
    transform: rotate(45deg);
    transition: left 1s;
    left: -200%;
    opacity: 0;
  }

  &:hover {
    &::after {
      opacity: 1;
      left: 200%;
    }
  }
}

.button_1 {
  @extend .button;
  border: 0.15em inset #f15f54;
  background: $main-gradient;
}

.play_btn {
  @extend .button_1;
  justify-content: center;
}

.button_2 {
  @extend .button;
  border: 0.15em inset #8a8a8a;
  background: var(
    --secondary-button,
    linear-gradient(0deg, #848484 0%, #ededed 100%)
  );
}

.gradient_text {
  background: $main-gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container {
  width: 100%;
  min-height: 100vh;
}
.content {
  width: 100%;
  max-width: $content-width;
  margin: auto;
}

.header {
  background-image: url("../Resources/Images/bg/header_bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  .header_content {
    max-width: $content-width;
    align-items: stretch;
    padding-inline: 10px;
  }
  .logo {
    align-self: center;
    width: 150px;
    margin: 15px 0;
    margin-right: 10%;
  }

  nav.header_nav {
    flex: 1;
    align-items: stretch;
    gap: 10px;
    .nav_item {
      color: white;
      justify-content: center;
      padding: 10px;
      position: relative;
      font-weight: 500;
      &:hover {
        @extend .gradient_text;
      }
    }
    .nav_active {
      @extend .gradient_text;
    }
    .nav_active {
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        width: 100%;
        background: $main-gradient;
      }
      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        translate: -50% 0;
        height: 20px;
        width: 20px;
        background-image: url("./Images/icon/active_nav.svg");
        background-size: fill;
      }
    }
  }

  .right_menu {
    gap: 10px;
    .support_btn {
      background: black;
      border: solid #4f4f4f 1px;
      padding: 10px;
      border-radius: 10px;
      margin-right: 5px;

      img {
        width: 30px;
      }
    }
  }
}

.language {
  position: relative;
  margin-left: 5px;
  z-index: 10;
  .language_picker {
    background: black;
    padding: 2px;
    border-radius: 99px;
    cursor: pointer;
    img {
      width: 25px;
      margin-right: 5px;
    }
    span {
      color: #595d6b;
      font-size: 25px;
    }
  }
  .language_dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    margin-top: 5px;
    background-color: #1a1a1a;
    border: solid 1px #505050;
    border-radius: 10px;
    padding: 5px;
    align-items: stretch;
    gap: 3px;
    display: none;
    .language_item {
      padding: 5px;
      gap: 10px;
      min-width: 120px;
      color: #5f5f5f;
      img {
        width: 25px;
      }
      &:hover {
        background: rgba(255, 255, 255, 0.1);
        border-radius: 3px;
      }
    }
  }
}
.language_show {
  .language_dropdown {
    display: flex;
  }
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: grid;
  place-items: center;
  display: none;
}
.auth_modal {
  .modal_content {
    align-items: stretch;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;

    .banner {
      width: 300px;
    }
    .auth_content {
      width: 400px;
      .auth_tab {
        background-color: #1e1e1e;
        padding: 20px;
        gap: 5px;
        .button_2 {
          min-width: 120px;
          padding: 1em;
        }
        .close_modal {
          color: white;
          margin-left: auto;
        }
        .tab_active {
          @extend .button_1;
        }
      }
      form {
        padding: 20px;
        gap: 10px;
        input {
          width: 100%;
        }
      }
    }
  }
}

main {
  background-color: #e2e2e2;
  background-image: url("../Resources/Images/bg/center_bg.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  flex: 1;
  .body_content {
    margin: 20px auto;
    align-self: stretch;
    align-items: flex-start;
  }
  .body_nav {
    margin-left: -80px;
    background-color: #1a1a1a;
    background-image: url("../Resources/Images/bg/sidemenu_bg.jpg");
    background-position: bottom;
    background-size: cover;
    min-width: 200px;
    border-radius: 10px;
    padding: 15px;
    align-items: stretch;
    gap: 3px;
    margin-right: 20px;
    hr {
      border: solid 1px rgba(255, 255, 255, 0.1);
      margin: 10px;
      width: 100%;
    }
    .body_nav_item {
      padding: 10px;
      gap: 10px;
      width: 100%;
      color: white;
      border-radius: 5px;
      font-size: 14px;

      img {
        width: 25px;
      }
      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
      }
    }
    a.extra_link {
      padding: 5px 10px;
      font-size: 14px;
      color: #5f5f5f;
      &:hover {
        color: #f4864d;
      }
    }
    .body_nav_active {
      background: $main-gradient;
    }
  }
  .main_content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    overflow: hidden;
    align-items: stretch;
    min-height: 450px;
  }
  .main_section {
    margin-top: 30px;
    .section_title {
      align-self: flex-start;
      font-size: 25px;
      margin-bottom: 10px;
      img {
        width: 45px;
      }
    }
  }
  .section_bg {
    background-position: top;
    background-size: 100% auto;
    background-repeat: no-repeat;
    padding-top: 0;
  }
  .sports_section {
    background-image: url("./Images/bg/sports_bg.jpg");
    @extend .section_bg;
  }
  .casino_section {
    background-image: url("./Images/bg/casino_bg.jpg");
    @extend .section_bg;
  }
  .slot_section {
    background-image: url("./Images/bg/slot_bg.jpg");
    @extend .section_bg;
  }
  .racebook_section {
    background-image: url("./Images/bg/racebook_bg.jpg");
    @extend .section_bg;
    .section_title {
      margin-bottom: 80px;
    }
  }
  .fishing_section {
    background-image: url("./Images/bg/fishing_bg.jpg");
    @extend .section_bg;
  }
  .lottery_section {
    background-image: url("./Images/bg/lottery_bg.jpg");
    @extend .section_bg;
    .section_title {
      margin-bottom: 80px;
    }
  }

  .game_lobby {
    .lobby_nav {
      align-items: stretch;
      gap: 5px;
      .nav_item {
        min-width: 100px;
        justify-content: center;
        @extend .button_2;
        img {
          height: 30px;
          width: auto;
          mix-blend-mode: luminosity;
        }
      }
      .nav_item.nav_active {
        @extend .button_1;
        img {
          height: 30px;
          width: auto;
          mix-blend-mode: normal;
        }
      }
    }
    .lobby_subnav {
      gap: 15px;
      padding: 10px;
      margin: 10px 0;
      .lobby_subnav_item {
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
      .lobby_subnav_active {
        @extend .gradient_text;
        font-weight: bold;
      }
    }
    .lobby {
      display: grid;
      gap: 10px;
      grid-template-columns: repeat(5, 150px);
      .game {
        position: relative;
        border-radius: 10px;
        overflow: hidden;
        .badges {
          position: absolute;
          right: 5px;
          top: 5px;
          gap: 2px;
          .badge {
            color: white;
            padding: 3px 5px;
            border-radius: 2px;
            font-size: 12px;
          }
        }
        .thumbnail {
          width: 100%;
        }
        .hover {
          position: absolute;
          width: 100%;
          height: 100%;
          justify-content: center;
          align-items: center;
          color: white;
          gap: 10px;
          background: rgba(0, 0, 0, 0.8);
          opacity: 0;
          transition: 0.3s;
          z-index: 2;
          .play_btn {
            font-size: 0.7em;
          }
        }
        &:hover {
          .hover {
            opacity: 1;
          }
        }
      }
    }
  }
}

.cards_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px 20px;
  .card {
    background: $radial-gradient;
    position: relative;
    align-items: flex-start;
    padding: 15px;
    padding-right: 230px;
    border-radius: 10px;
    position: relative;
    & > * {
      z-index: 2;
    }
    &::after {
      z-index: 1;
      content: "";
      background-image: url("./Images/bg/card_bg.png");
      background-size: cover;
      position: absolute;
      width: 100%;
      height: 100%;
      right: 0;
      top: 0;
    }
    .product_logo {
      height: 50px;
      // margin-bottom: 10px;
    }
    strong {
      color: #fab848;
      font-size: 20px;
      display: none;
    }
    p {
      color: #727070;
      font-size: 12px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2; /* number of lines to show */
      line-clamp: 2;
      -webkit-box-orient: vertical;
      text-align: justify;
    }

    .play_btn {
      justify-content: center;
      width: 160px;
    }

    .model {
      width: 220px;
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
}

.home_content {
  width: 100%;

  .home_banner {
    width: calc(100% + 40px);
    margin-left: -20px;
    margin-top: -20px;
    .swiper-slide {
      width: 100%;
      img {
        width: 100%;
      }
    }
    .slider_control {
      justify-content: center;
      margin-top: 10px;
      .swiper-pagination {
        position: static;
        width: auto;
        margin: 0 10px;
        .swiper-pagination-bullet {
          opacity: 1;
          width: 20px;
          height: 20px;
          display: flex;
          background: white;
          border-radius: 99px;
          border: solid 1px #595d6b;
          &::after {
            content: "";
            height: 12px;
            width: 12px;
            margin: auto;
            border-radius: 99px;
            background: #595d6b;
          }
        }
        .swiper-pagination-bullet-active {
          border: solid 1px #f05754;
          &::after {
            background: $main-gradient;
          }
        }
      }
      .slider-prev,
      .slider-next {
        background-color: #979797;
        padding: 3px;
        border-radius: 99px;
        cursor: pointer;
        img {
          width: 30px;
        }
      }
      .slider-next {
        background: $main-gradient;
      }
    }
  }
  .winner {
    position: relative;
    & > * {
      z-index: 2;
    }
    &::after {
      content: "";
      z-index: 1;
      position: absolute;
      left: -20px;
      top: 0;
      width: calc(100% + 40px);
      height: 100%;
      background-image: url("../Resources/Images/bg/center_bg.png");
      background-size: cover;
      background-position: center;
    }
  }
  .winner_list {
    .th {
      flex: 1;
      padding: 20px;
      font-weight: bold;
      &:last-child {
        text-align: right;
      }
    }
    .td {
      flex: 1;
      padding: 20px;
      &:last-child {
        text-align: right;
      }
    }
    .tbody {
      height: 350px;
      overflow: auto;
      .tr {
        border-radius: 10px;
        &:nth-child(odd) {
          background: $radial-gradient;
          color: white;
        }
      }
    }
  }

  .event_cards {
    gap: 20px;
    .event_card {
      flex: 1;
      background: $radial-gradient;
      background-image: url("../Resources/Images/bg/event_card.jpg");
      background-size: cover;
      padding: 15px;
      border-radius: 10px;
      strong {
        color: #fab848;
        font-size: 20px;
      }
      p {
        color: #727070;
        font-size: 12px;
      }
      & > img {
        width: 100%;
      }
    }
  }

  .matches {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    .match {
      background-image: url("../Resources/Images/bg/match_bg.jpg");
      background-size: cover;
      padding: 15px;
      border-radius: 10px;
      .content {
        margin: 25px 0 10px;
        .team {
          align-items: center;
          flex: 1;
          img {
            width: 150px;
          }
        }
      }
    }
  }

  .vip_section {
    .section_title {
      z-index: 2;
    }
    .vip_banner {
      width: calc(100% + 40px);
      position: relative;
      left: -20px;
      margin-top: -50px;
    }
    .vip_content {
      .th {
        height: 70px;
        display: flex;
        padding-bottom: 10px;
        img {
          width: 50px;
          margin: auto;
        }
      }
      .td {
        height: 35px;
        display: flex;
        align-items: center;
        font-size: 14px;
      }
      .thead {
        padding: 20px 0;
        margin-right: 20px;
        .th {
          color: #f26f51;
          font-weight: bold;
          font-size: 20px;
          align-items: flex-end;
        }
      }
      .vip_item {
        flex: 1;
        align-items: center;
        background: $radial-gradient;
        margin-left: 10px;
        padding: 20px;
        border-radius: 10px;
        .td {
          color: white;
        }
      }
    }
  }
}

.footer {
  background-image: url("../Resources/Images/bg/footer_bg.jpg");
  background-size: cover;
  padding: 30px 20px;
  .footer_content {
    max-width: 1000px;
    .footer_logo {
      width: 180px;
    }
    h3 {
      color: #5f5f5f;
      margin: 0;
    }
    .text {
      color: #5f5f5f;
      margin-top: 20px;
      font-size: 13px;
    }
    .logos {
      strong {
        color: #5f5f5f;
      }
      .row {
        flex-wrap: wrap;
        img {
          height: 30px;
          filter: saturate(0);
          &:hover {
            filter: none;
          }
        }
      }
    }
    nav {
      margin-top: 30px;
      gap: 30px;
      font-size: 13px;
      a {
        color: #5f5f5f;
      }
    }
  }
}
